@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;  
} 
html {
    height:100vh;
}
body{
    width:95vw;
    background-color:#fff;
    padding:2em;
	display:grid;
    grid-template-columns:0.3fr 2fr 2fr 0.3fr;
    grid-template-rows:1fr auto;  
    grid-gap:1em;
    background-color:#0a192f;
}
#logo .logo{
    font-size: 3em;
    text-align:center;
    border: solid 2px #64FFDA;
    border-left: none;
    border-top: none;
    
}

#nav{
    grid-column: 3 /5;
 
}
ol li{
    display:inline;
    margin-right:1em;
    float: right;
    color: #64FFDA;
    font-size: 1.2em;
}

#logo h2{
    color: white;
}
#main {
    grid-column: 2 /4;
    margin: 8em 7em 0em 11em;
}

#main .greeting, #main .myDescript{
    font-size: 1.5em;
    color: #64FFDA;

}
#main .myName, #main .tagline{
    font-size: 5em;
    color: #CCD6F6;

}

#main .tagline, #main .myDescript{
    color: #8892B0;
}


