@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;500;700&display=swap');
:root{
    --primary:#f3f4f5;
    --secondary: #212121;
    --other: #6c918a; 
    /* --text-color:#12414c; */

    --heading-size: 1.5rem;
    --subheading-size:1.25rem;
    --body-size: 0.938rem;
    --detail-size: 0.813rem; 

    --logo-font: 'Prompt', serif;
    --other-font: 'Spectral', serif;
}
@media screen and (min-width: 968px){
    :root{
        --heading-size: 2.25rem;
        --subheading-size:1.75rem;
        --body-size: 1rem;
        --detail-size: 0.875rem;    
    }
}
/* base  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--primary);
    font-size: var(--body-size); 
    margin: 3rem 0 0 0 ;
    color: var(--text-color );
    font-family: var(--other-font) /* L-300, R-400, B-700 */
}
h1,h2,h3{color: var(--text-color); font-weight: 700;}
ul{list-style: none;}
a{text-decoration: none;}
img{max-width: 100%; height: auto;}
button,input{border: none;}
button{cursor: pointer;}
input{outline: none;}

.main{overflow-x: hidden;}
/*--------------------- reusable class ---------------------*/
section{
    padding: 4.4rem 0 2.5rem;
}
.section-title{
    font-size: var(--subheading-size);
    text-align: center;
    text-transform: capitalize;
    /* margin-bottom: ; */
}
.container{
    max-width: 968px;
    margin: 0.2rem 2rem;
}
.grid{display: grid; gap: 1.5rem;}
/* -----------header------------------- */
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;


}

/* -------------nav bar---------------- */
.nav{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo, .nav-toggle{color:var(--secondary);}
.nav-logo{font-weight: 400; font-family: var(--logo-font); font-size: var(--heading-size)}
.nav-toggle{font-size: 1.5rem; cursor: pointer;;}
.nav-menu{position: relative;}
@media  screen and (max-width: 767px) {
    .nav-menu{
        position: fixed;
        background-color: var(--secondary);
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        box-shadow: -1px 0 4px #12414c53;
        padding: 3rem;
        transition: .4s;
    } 
}
.nav-list{
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
}
.nav-link{
    color:var(--primary);
    font-weight: 400;
    text-transform: uppercase;
}
.nav-link:hover{color:var(--other);}
.nav-close{
    position:  absolute;
    top: .75rem;
    right: 1rem;
    font-size: var(--heading-size);
    cursor: pointer;
    color: var(--primary);
}
/* ----------show menu upon toggle */
.show-menu{right: 0;}

/* change background header color */
.scroll-header{
    background-color: var(--secondary);
}
.scroll-header .nav-logo, .scroll-header .nav-toggle{
    color: var(--primary);
}

/* media queries for medium devices*/
@media screen and (min-width:768px){
    body{
        margin: 0;
    }
    .nav{height: 4.5rem;}
    .nav-link{text-transform: initial; color: var(--secondary);}

    .nav-link:hover{color:var(--other);}
    .nav-menu{display: flex; column-gap: 1rem;}
    .nav-list{flex-direction: row; column-gap: 4rem;}
    .nav-close,.nav-toggle{display: none;}

    .section{padding: 7rem 0 2rem;}
}

@media screen and (min-width:1024px){
    .container{
        margin: 0 auto;
    }
}

@media screen and (min-width:12800px){
    .container{ max-width: 1024px;}
}

/* *home */
.home-img{
    position: absolute;
    top: 13%;
    left: 50%; 
}

.home-container{
    position: relative;
    height: 60vh;
    align-content: center;
    row-gap: 3rem;
}

.home-data-title{
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.home-social{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.home-social-link{
    font-size: 1.2rem;
    width: max-content;
}

/* *buttons ---------------- */
.button{
    display: inline-block;
    background-color: var(--other);
    color: white;
    padding: 1rem 2rem;
    transition: .3s;
}
.button:hover{
    background-color: var(--secondary);
    
}











/* header{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-weight: 700;
    color: var(--other);
}
.nav-link{
    list-style: none;
    display: flex;
}
.nav-link li{
    padding: 0px 20px;
    
}
.nav-link a{
    text-decoration: none;
    font-size: var(--subheading-size);
    color: var(--other);
}
 */


